/* Cutestrap setup */

* {
    --rhythm: 1.25rem;
    --line-height: var(--sub-rhythm, var(--rhythm));
    --line-height-ratio: 1.25;
    --font-size: calc(var(--line-height) / var(--line-height-ratio));
}
